body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color:#f4e6f0;
}
 
header {
  text-align: center;
  margin-bottom: 20px;
}
   

nav {
  background-color: #333; 
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none; 
  padding: 10px; 
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

section {
  margin-bottom: 20px;
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
footer {
  text-align: center;
  margin-top: 20px;
}
   