/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


header {
  text-align: center;
  margin-bottom: 20px;
}


nav {
  background-color: #333; 
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none; 
  padding: 10px; 